.container-headphones {
  max-width: 327px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 120px;
}

.product-headphones {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 120px;
}

.product-headphones-item {
  img {
    border-radius: 8px;
  }
}

.product-headphones-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 32px;
  text-align: center;

  h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.12px;
    letter-spacing: 10px;
    color: #d87d4a;
  }

  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 1px;
    color: #000000;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #7d7d7d;
  }

  a {
    width: 160px;
    margin-inline: auto;
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #d87d4a;
    padding: 15px 30px;
    text-decoration: none;
    cursor: pointer;
  }
}

.categories {
  display: grid;
  grid-template-columns: 1fr;
  gap: 68px;
  margin-top: 96px;
  margin-bottom: 96px;
  max-width: 327px;
  margin-inline: auto;

  .category-item {
    background-color: #f1f1f1;
    border-radius: 8px;
    position: relative;
    text-align: center;
    min-height: 165px;

    h3 {
      font-weight: 700;
      font-size: 15px;
      line-height: 20.49px;
      letter-spacing: 1.07px;
      color: #000000;
      margin-top: 88px;
      margin-bottom: 17px;
    }

    img {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
    }

    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 13px;
      line-height: 17.76px;
      letter-spacing: 1px;
      color: #7d7d7d;
    }
  }

  .category-item:nth-child(1) {
    margin-top: 32px;
  }
}

  .main-content {
    max-width: 327px;
    margin-inline: auto;
    text-align: center;
    margin-top: 120px;

  img {
    border-radius: 4px;
  }

    h3 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 28px;
      line-height: 38.25px;
      letter-spacing: 1px;
      color: #000000;
      margin-top: 40px;
      margin-bottom: 32px;
    }

  span {
    color: #d87d4a;
  }

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      color: #7d7d7d;
    }
  }

  .mobile-headphone {
    display: block;
  }

  .tablet-headphone {
    display: none;
  }

  .desktop-headphone {
    display: none;
  }
  /* Tablet Start */

@media (width >= 768px) {
  .mobile-headphone {
    display: none;
  }

  .tablet-headphone {
    display: block;
  }

  .categories {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;

    .category-item {
      height: 204px;
      margin-top: 0px;
    }

    .category-item:nth-child(1) {
      margin-top: 0px;
    }
  }

  

  
  
}

  /* Desktop Start */

@media (width >= 1280px) {
  .mobile-headphone {
    display: none;
  }

  .tablet-headphone {
    display: none;
  }

  .desktop-headphone {
    display: block;
  }
}
