.container-headphones {
  max-width: 327px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 120px;
}

.product-headphones {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 120px;
}

.product-headphones-item {
  img {
    border-radius: 8px;
  }
}

.product-headphones-text {

  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 32px;
  text-align: center;

  h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.12px;
    letter-spacing: 10px;
    color: #D87D4A;
  }

  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 1px;
    color: #000000;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #7d7d7d;
  }

  a {
    width: 160px;
    margin-inline: auto;
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    color: #FFFFFF;
    background-color: #D87D4A;
    padding: 15px 30px;
    text-decoration: none;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 68px;
  margin-top: 80px;
}

.category-item {
  display: block;
  background-color: #F1F1F1;
  border-radius: 8px;
  position: relative;
  text-align: center;
  min-height: 165px;

  h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 20.49px;
    letter-spacing: 1.07px;
    color: #000000;
    margin-top: 88px;
    margin-bottom: 17px;
  }

  img {
    position: absolute;
    top: -38px;
  }

  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    letter-spacing: 1px;
    color: #7d7d7d;
  }
}

.main-content {
  max-width: 327px;
  margin-inline: auto;
  text-align: center;
  margin-top: 120px;

  img {
    border-radius: 4px;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    line-height: 38.25px;
    letter-spacing: 1px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 32px;
  }

  span {
    color: #D87D4A;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #7d7d7d;
  }
}

.mobile-headphone {
  display: block;
}

.tablet-headphone {
  display: none;
}

.desktop-headphone {
  display: none;
}
/* Tablet Start */

@media (width >= 768px) {

  .mobile-headphone {
    display: none;
  }
  
  .tablet-headphone {
    display: block;
  }
}

/* Desktop Start */

@media (width >= 1280px) {

  .mobile-headphone {
    display: none;
  }
  
  .tablet-headphone {
    display: none;
  }
  
  .desktop-headphone {
    display: block;
  }
}