@import "reset.css";

body {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

.container-product-detail {
  padding-inline : 24px;
}

.go-back-link {
  display: block;
  margin-top : 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color : #000000;
  margin-bottom: 24px;
}

.product-img {
  margin-top: 24px;
  margin-bottom: 40px;
  width: 327px;
}

.product-detail-text h4 {
  margin-top: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: 10px;
  color: #D87D4A;
  margin-bottom: 40px;
}

.product-detail-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 38.25px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color : #000000;
}

.product-detail-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-block: 24px;
  color : #000000;
}

.product-detail-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 1.29px;
  color : #000000;
  margin-bottom: 31px;
}

.product-count-area {
  display: flex;
  gap: 16px;
  margin-bottom: 88px;
}

.product-counter {
  display: flex;
  gap: 20px;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.minus-counter, .plus-counter {
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  cursor: pointer;
  color : #b5b5b5;
}

.minus-counter:hover, .plus-counter:hover {
  color: #d87d4a;

}

.product-counter .count {
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
}

.add-to-cart {
  border-style: none;
}

.add-to-cart, .see-product-button {
  width: 160px;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
  color : white;
  background-color: #d87d4a;
  padding-block: 15px;
  padding-inline : 30.5px;
}

.see-product-button {
  margin-bottom: 32px;
}

.add-to-cart:hover, .see-product-button:hover {
  background-color: #fbaf85;
  cursor: pointer;
}

.product-features {
  margin-bottom: 88px;
}

.features-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
  margin-bottom: 24px;
}

.features-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 88px;
}

.in-the-box-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
  margin-bottom: 24px;
}

.product-features span {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color : #D87D4A;
  margin-right: 24px;
}

.product-detail-images {
  display: grid;
  grid-template-rows: 1fr;
}

.product-detail-images  img {
  margin-bottom: 20px ;
  margin-inline : auto;
}

.product-also-like {
  margin-bottom: 120px;
}

.also-like-header {
  margin-top: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
  text-align: center;
  margin-bottom: 40px;
}

.product-also-like-item{
  display: flex;  
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.product-also-like-item-image {
  margin-inline : auto;
}

.product-also-like-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32.78px;
  letter-spacing: 1.71px;
  text-align: center;
}

.see-product-button {
  /* max-width: 160px; */
  margin-inline : auto;
}

/* .categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
} */

/* .category-item {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

.category-item-image {
  margin-bottom: 36px;
}

.category-item h3 {
  margin-bottom: 17px;
} */

.shop-link {
  display: flex;
  gap: 13px;
}

.shop-link:hover {
  color: #D87D4A;
}

.shop-link .right-arrow-icon {
  width: 50px;
}

@media (width >= 768px) {

  .container-product-detail {
    padding-inline : 40px;
  }

  .product-detail-item {
    display: flex;
    gap: 32px;
    margin-bottom: 120px;
  }

  .product-img {
    margin-bottom: 120px;
    height: 480px;
    width: 281px;
  }

  .product-detail-text h4 {
    margin-top: 45px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.39px;
    letter-spacing: 8.57px;
    margin-bottom: 17px;
  }

  .product-detail-name {
    line-height: 32px;
    margin-bottom: 32px;
  }

  .product-detail-info {
    margin-block : 32px;
  }

  .features-text{
    margin-bottom: 120px;
  }

  .in-the-box-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .product-detail-images {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
  }

  .product-also-like-items {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 120px;
    gap: 11px;
  }

  .product-also-like-item {
    gap: 40px;
  }

  /* .categories {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  } */
}

@media (width >= 1110px) {

  .container-product-detail {
    max-width: 1110px;
    margin-inline: auto;
  }

  .product-detail-item {
    display: flex;
    gap: 124px;
    margin-bottom: 160px;
  }

  
  .product-img {
    margin-bottom: 120px;
    height: 560px;
    width: 540px;
  }

  .product-detail-text h4 {
    margin-top: 77px;
  }

  .product-detail-price {
    margin-bottom: 47px;
  }

  .product-features {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 125px;
  }

/* .product-features-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 125px;
} */


  .features-header {
    margin-bottom: 0;
  }

  .features-text {
    margin-top: 32px;
  }

  .in-the-box-content {
    display: flex;
    flex-direction: column;
  }

  .also-like-header {
    margin-top: 160px;
    margin-bottom: 64px;
  }

  .product-also-like-item-image {
    margin-bottom: 40px;
  }
  
  /* .categories {
    gap: 30px;
  } */
}