@import "reset.css";

body {
  font-family: Manrope;
}

a {
  text-decoration: none;
}

.container-product-detail {
  padding-inline : 24px;
}

.go-back-link {
  display: block;
  margin-top : 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color : #000000;
  margin-bottom: 24px;
}

.product-img {
  margin-top: 24px;
  margin-bottom: 40px;
}

.product-detail-text h4 {
  margin-top: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  letter-spacing: 10px;
  color: #D87D4A;
  margin-bottom: 40px;
}

.product-detail-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 38.25px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color : #000000;
}

.product-detail-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-block: 24px;
  color : #000000;
}

.product-detail-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.59px;
  letter-spacing: 1.29px;
  color : #000000;
  margin-bottom: 31px;
}

.product-count-area {
  display: flex;
  gap: 16px;
  margin-bottom: 88px;
}

.product-counter {
  display: flex;
  gap: 20px;
  background-color: #f1f1f1;
  padding: 15px;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.minus-counter, .plus-counter {
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
}

.product-counter .count {
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
}

.add-to-cart, .see-product-button {
  width: 160;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
  color : white;
  background-color: #d87d4a;
  padding-block: 15px;
  padding-inline : 30.5px;
}

.product-features {
  margin-bottom: 88px;
}

.features-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
  margin-bottom: 24px;
}

.features-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  margin-bottom: 88px;
}

.context-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
  margin-bottom: 24px;
}

.product-features span {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color : #D87D4A;
  margin-right: 24px;
}

.product-detail-images {
  display: grid;
  grid-template-rows: repeat(3,1fr);
}

.product-also-like {
  margin-bottom: 120px;
}

.product-also-like h2 {
  margin-top: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.86px;
  text-align: center;
  margin-bottom: 40px;
}

.product-also-like-item{
  display: flex;  
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.see-product-button {
  max-width: 160px;
  margin-inline : auto;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.category-item {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
  padding-bottom: 22px;
}

.category-item-image {
  margin-bottom: 36px;
}

.category-item h3 {
  margin-bottom: 17px;
}

.shop-link {
  display: flex;
  gap: 13px;
}