.footer {
  background-color: rgba(16, 16, 16, 1);
  margin: 0 auto;
  text-align: center;
  padding-block: 48px 38px;
  padding-inline: 24px;
  margin-top: 120px;
}

.footer img  {
  margin-inline: auto;
  margin-bottom: 48px;
}

.navbar li  {
  color: white;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  margin-bottom: 16px;
  font-weight: bolder;
}

.footer p {
  color:rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-block: 48px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}