/* footer stil kodları */

.footer {
  background-color: rgba(16, 16, 16, 1);
  margin: 0 auto;
  text-align: center;
  padding-block: 48px 38px;
  padding-inline: 24px;
  margin-top: 120px;
}

.footer img {
  margin-inline: auto;
  margin-bottom: 48px;
}

.navbar li {
  color: white;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  margin-bottom: 16px;
  font-weight: bolder;
}

.footer-info {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-block: 48px;
  max-width: 1110px;
  margin-inline: auto;
  text-align: start;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  margin-inline: auto;
}

.footer-copyright p {
  font-family: Manrope;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.5);
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* header stil kodları */

.header {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 24px;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 1110px;
  margin-inline: 50px;
}

.navbar,
.menuCategoriesMobil {
  display: none;
  flex-direction: column;
  width: 100%;
}

.navbarFooter {
  max-width: 1110px;
  margin-inline: auto;
}

.navbarFooter ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navbarFooter li a {
  font-family: Manrope;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  color: white;
}

/* .menuCategoriesMobil ul {
  flex-direction: column;
  gap: 15px;
} */

.menuCategoriesMobil.show {
  display: flex;
  position: relative;
  gap: 68px;
  background-color: #ffffff;
  padding: 32px 24px;

  .menu-category-item {
    background-color: #f1f1f1;
    border-radius: 8px;
    position: relative;
    text-align: center;
    min-height: 165px;
    width: 50%;
    max-width: 327px;
    margin-inline: auto;

    h3 {
      font-weight: 700;
      font-size: 15px;
      line-height: 20.49px;
      letter-spacing: 1.07px;
      color: #000000;
      margin-top: 88px;
      margin-bottom: 17px;
    }

    img {
      position: absolute;
      transform: translate(-50%, -20%);
      left: 50%;
      backdrop-filter: blur(43.49250793457031px);
    }

    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 13px;
      line-height: 17.76px;
      letter-spacing: 1px;
      color: #7d7d7d;
    }
  }

  .menu-category-item:nth-child(1) {
    margin-top: 32px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.menuCategoriesMobil.show {
  display: flex;
  z-index: 10;
}

.overlay.show {
  display: block;
}

.page-title {
  background-color: #000000;
  width: 100%;
  height: 102px;
  text-align: center;
  align-content: center;
  margin-bottom: 120px;
}

.page-title h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 38.25px;
  letter-spacing: 2px;
  color: #ffffff;
}

.orderLi {
  list-style: none;
}

dialog {
  width: 100%;
  margin-top: 114px;
  margin-inline: 24px;
  border-radius: 8px;
  border: none;
  padding: 32px 28px;
  align-content: center;

  .dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;

    a {
      font-family: Manrope;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0px;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-thickness: Auto;
      color: rgba(0, 0, 0, 0.5);
    }

    h2 {
      font-family: Manrope;
      font-weight: 700;
      font-size: 18px;
      line-height: 24.59px;
      letter-spacing: 1.29px;
      color: #000000;
    }
  }

  img {
    width: 64px;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .orderLi {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .orderProductInfo {
    display: flex;
    align-items: center;
    gap: 16px;

    .orderProductImg {
      width: 64px;
      border-radius: 8px;
    }

    .orderTexts {
      display: flex;
      flex-direction: column;

      h6 {
        font-family: Manrope;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0px;
        color: #000000;
      }

      span {
        font-family: Manrope;
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.order-product-counter {
  display: flex;
  gap: 12px;
  background-color: #f1f1f1;
  width: 96px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.order-minus-counter,
.order-plus-counter {
  padding-inline: 8px;
}

.order-product-counter {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f1f1f1;
  height: 32px;
  padding: 7px;

  button {
    padding-inline: 5px;
    border: none;
    background-color: transparent;
  }
}

.cart-total {
  margin-top: 32px;
  margin-bottom: 24px;
  h3 {
    display: flex;
    justify-content: space-between;
    font-family: Manrope;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.5);

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 24.59px;
      color: #000000;
    }
  }
}

#cartIcon {
  cursor: pointer;
}

.checkout-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px;
  background-color: #d87d4a;
  border: none;
  font-family: Manrope;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.76px;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  border: none;
}

@media (width >= 768px) {
  .navbar,
  .menuCategoriesMobil {
    flex-direction: row;
  }

  .desktopHeader .navbar ul li:hover a {
    color: #d87d4a;
  }

  .companyLogo {
    text-align: start;
  }

  .navbarFooter ul {
    flex-direction: row;
    gap: 34px;
  }
}

@media (width >= 768px) {
  .desktopHeader {
    padding-inline: 45px;
  }

  .navbar,
  .menuCategoriesMobil {
    flex-direction: row;
  }

  .menu-category-item {
    height: 165px;
    align-content: center;
  }

  .page-title {
    height: 246px;
    margin-bottom: 160px;
  }

  .page-title h1 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.43px;
  }

  .menuCategoriesMobil.show {
    .menu-category-item:nth-child(1) {
      margin-top: 56px;
    }

    .menu-category-item {
      margin-top: 56px;
    }
  }

  dialog {
    width: 50%;
    margin-inline-start: auto;
  }
}

@media (width >= 1110px) {
  .desktopHeader {
    width: 100%;
    max-width: 1170px;
    margin-inline: auto;
    align-items: center;
    padding-inline: 30px;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .navbar ul {
      list-style: none;
      display: flex;
      gap: 34px;

      li {
        margin: 0px;
      }

      li a {
        font-family: Manrope;
        font-weight: 700;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 2px;
        color: white;
        align-items: center;
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
  }

  dialog {
    width: 40%;
    margin-inline-end: auto;
    margin-right: 165px;
    max-width: 377px;
  }
}
